# Auto detect text files and perform LF normalization
* text=auto
*.ts linguist-generated
*.tsx linguist-generated
*.jsx linguist-generated
*.js linguist-generated
*.css linguist-generated
*.html linguist-generated